<h1>Municipality administrators</h1>

<h1>--------------------------------------</h1>

<div><%-
  for uncleanedBuilding in @uncleanedBuildings do %>
      <div>
        <%= Street.where(id: uncleanedBuilding.street_id)[0].name %>
        <%= uncleanedBuilding.number %>
        <% @administrator = Administrator.where(id: uncleanedBuilding.administrator_id) %>
        <%= @administrator[0].name %>
        <%= @administrator[0].phone %>
      </div>
  <%- end
%></div>

<h1>--------------------------------------</h1>
